<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-advanced-http" version="3.3.1">
  <name>Advanced HTTP plugin</name>
  <description>
        Cordova / Phonegap plugin for communicating with HTTP servers using SSL pinning
	 </description>
  <engines>
    <engine name="cordova" version=">=9.0.0"/>
  </engines>
  
  <platform name="ios">
    <dependency id="cordova-plugin-file" version=">=2.0.0"/>
    <js-module src="www/cookie-handler.js" name="cookie-handler"/>
    <js-module src="www/dependency-validator.js" name="dependency-validator"/>
    <js-module src="www/error-codes.js" name="error-codes"/>
    <js-module src="www/global-configs.js" name="global-configs"/>
    <js-module src="www/helpers.js" name="helpers"/>
    <js-module src="www/js-util.js" name="js-util"/>
    <js-module src="www/local-storage-store.js" name="local-storage-store"/>
    <js-module src="www/lodash.js" name="lodash"/>
    <js-module src="www/messages.js" name="messages"/>
    <js-module src="www/ponyfills.js" name="ponyfills"/>
    <js-module src="www/public-interface.js" name="public-interface"/>
    <js-module src="www/umd-tough-cookie.js" name="tough-cookie"/>
    <js-module src="www/url-util.js" name="url-util"/>
    <js-module src="www/advanced-http.js" name="http">
      <clobbers target="cordova.plugin.http"/>
    </js-module>

    <config-file target="config.xml" parent="/*">
      <feature name="CordovaHttpPlugin">
        <param name="ios-package" value="CordovaHttpPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CordovaHttpPlugin.h"/>
    <header-file src="src/ios/BinaryRequestSerializer.h"/>
    <header-file src="src/ios/BinaryResponseSerializer.h"/>
    <header-file src="src/ios/TextResponseSerializer.h"/>
    <header-file src="src/ios/TextRequestSerializer.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFHTTPSessionManager.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFNetworking.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFNetworkReachabilityManager.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFSecurityPolicy.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFURLRequestSerialization.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFURLResponseSerialization.h"/>
    <header-file src="src/ios/SM_AFNetworking/SM_AFURLSessionManager.h"/>
    <header-file src="src/ios/SDNetworkActivityIndicator/SDNetworkActivityIndicator.h"/>
    <source-file src="src/ios/CordovaHttpPlugin.m"/>
    <source-file src="src/ios/BinaryRequestSerializer.m"/>
    <source-file src="src/ios/BinaryResponseSerializer.m"/>
    <source-file src="src/ios/TextResponseSerializer.m"/>
    <source-file src="src/ios/TextRequestSerializer.m"/>
    <source-file src="src/ios/SM_AFNetworking/SM_AFHTTPSessionManager.m"/>
    <source-file src="src/ios/SM_AFNetworking/SM_AFNetworkReachabilityManager.m"/>
    <source-file src="src/ios/SM_AFNetworking/SM_AFSecurityPolicy.m"/>
    <source-file src="src/ios/SM_AFNetworking/SM_AFURLRequestSerialization.m"/>
    <source-file src="src/ios/SM_AFNetworking/SM_AFURLResponseSerialization.m"/>
    <source-file src="src/ios/SM_AFNetworking/SM_AFURLSessionManager.m"/>
    <source-file src="src/ios/SDNetworkActivityIndicator/SDNetworkActivityIndicator.m"/>
    <framework src="Security.framework"/>
    <framework src="SystemConfiguration.framework"/>
  </platform>
</plugin>
